.App {
  text-align: center;
}

/** Bootstrap styles **/
.modal {
  text-align: center;
}
/** Bootstrap styles end **/

.album-photos {
  text-align: center;
}

.album-photos__item {
  margin: 10px 0;
}

.album-photos__button {
  padding: 0;
}

.photo-modal {
  display: inline-block;
  max-width: 100%;
}

.photo-modal__body {
  padding: 15px;
  overflow-x: auto;
}

@media (min-width: 576px) {
  .photo-modal {
    max-width: 100%;
    min-height: auto;
  }
}
